<section id="about" style="padding-top: 30px; margin-top: -10px;">
  
	<div class="jumbotron jumbotron-fluid text-center mt-5 mb-5">
  <div class="container">
    <div class="row">

      <div class=" col-12 pb-4">
        <h1 class="title"><%=t('About.title')%></h1>
      </div>

      <div class="col-1" id="logo">
        <%= image_tag "CNeryToursLogo.png", class:"display-4", alt: "CNery Tours"%>
      </div>
      
    </div>
      <p class="lead"><%=t('About.text1')%></p>
      <p class="lead"><%=t('About.text2')%></p>
      <p class="lead"><%=t('About.text3')%></p>
      <p class="lead"><%=t('About.text4')%></p>
      <p class="lead"><%=t('About.text5')%></p>
    </div>
  </div>
</section>