<section id="services" style="padding-top: 80px; margin-top: -10px;">
	<div class="container-fluid mt=5 mb-5" id="service_container">
	<div class="row">
		<div class="col-md-12 col-sm-" id="Services-Header">
			<h1 class="text-center" id="Services-Header"><%=t('Menu.Services')%></h1>
		</div>
	</div>
	
		<div class="row">

			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="card h-100">
          <%= image_tag "services/CNeryTours-Services-Van.jpg", alt: "Van Tours",  class: "card-img-top"%>
					<div class="card-body">
						<h1><%=t('Services.title-1')%></h1>
						<p></p>
						<p><%=t('Services.text-1')%></p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="card h-100">
					<%= image_tag "services/CNeryTours-Services-TukTuk-02.jpg", alt: "Tuk Tuk Tours",  class: "card-img-top"%>
					<div class="card-body">
						<h1><%=t('Services.title-2')%></h1>
							<p></p>
						<p><%=t('Services.text-2')%></p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="card h-100">
					<%= image_tag "services/CNeryTours-Services-Regular.jpg", alt: "Tuk Tuk Tours",  class: "card-img-top"%>
					<div class="card-body">
						<h1><%=t('Services.title-3')%></h1>
							<p></p>
						<p><%=t('Services.text-3')%></p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12">
				<div class="card h-100">
					<%= image_tag "services/CNeryTours-Services-Privat.jpg", alt: "Tuk Tuk Tours",  class: "card-img-top"%>
					<div class="card-body">
						<h1><%=t('Services.title-4')%></h1>
							<p></p>
						<p><%=t('Services.text-4')%></p>
					</div>
				</div>
			</div>
      
      <div class="col-md-12 col-sm-" >
			<h1 class="text-center text-success mb-4"></h1>
		</div>

		</div>

	</div>
</section>