<div style ="height: 50px"></div>
<!--<h1><%= t('hello') %></h1>-->
<%= render 'shared/navbar' %>
<%= render 'shared/carousel' %>
<%= render 'shared/services' %>
<%= render 'shared/about' %>
<%= render 'shared/contact_form' %>
